/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navigation Bar Listing style */
#navbar{
    position: relative;
}

#navbar ul{
    display: flex;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .4;
}

#navbar ul li {
    color: white;
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: black;
    font-size: 1.6rem;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}


#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section  */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 578px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position:absolute;
    background: url('../img/bg1.jpg') ;
    width: 100%;
    height: 90%;
    z-index: -1;
    opacity: 0.3;
}
#home h1{
    color: black;
    text-align: center;
    font-size: larger;
    font-size: 2.8rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#home p{
    color: rgb(129, 35, 118);
    text-align: center;
    font-size: medium;
}

#home span{
    color: rgb(149, 21, 113);
    text-align: center;
    font-size: larger;
    font-style: italic;
}


/* Sevices Section  */
#services{
    margin: 34px;
    display: flex; 
    text-align: center;
}
#sevices-container{
    position: relative;
   height: 344px;
}
#box{
    padding: 100px;
}
#services .box{
    border: 2px solid rgb(50, 3, 3);
    padding: 34px;
    margin: 30px 55px;
    border-radius: 28px;
    background-color: wheat;
    margin-bottom: 20px;
}
#services .box img{
   height: 160px;
    margin: auto;
    display: block;
}
#services-container::before{
    content: "";
    position:absolute;
    background: url('../img/bg.jpg') ;
    width: 100%;
    height: 90%;
    z-index: -1;
    opacity: 0.3;
}
#services .box p{
    font-family: 'Times New Roman', Times, serif;
}


/* Clients Section  */
#client-section{
    position: relative;
   height: 344px;
}
#client-section::before{
    content: "";
    position:absolute;
    background: url('../img/bg.jpg') ;
    width: 100%;
    height: 90%;
    z-index: -1;
    opacity: 0.3;
    
}
#clients{
    display: flex;
    justify-content: center;
   text-align: center;
}
#client-item{
    padding: 100px;
}
#clients img{
    height: 100px;
    width: 100pxs;

}

/* Contact Section  */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position:absolute;
    background: url('../img/contact.jpg') ;
    width: 100%;
    height: 90%;
    z-index: -1;
    opacity: 0.3;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: o.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}
#form-group{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}

footer{
   background: black;
   color: white;
   padding: 9px 20px; 
}
/* Utility Class  */
.h-primary{
    color: black;
    text-align: center;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 12px;
}

.h-secondary{
    font-size: 1.2rem;
    padding: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ord{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(43, 8, 8);
    color: white;
    margin: 17px;
    border-radius: 10px;
    font-size: medium;
    cursor: pointer;
}

.center{
    text-align: center;
}